@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  background-color: #212121;
}

.App{
  
  background-position: center;
 background-repeat: no-repeat;
  
  width: 100vw;
  height: 100vh;
  transition: 0.3s all ease;
}

.videos-background{
  background-image: url("https://wallpapers.com/images/hd/1920x1080-pictures-zog2vma3qpmt2o9l.jpg");
}

.pics-background{
  background-image: url("https://wallpapers.com/images/hd/1920x1080-pictures-q3sujoyo7upr3bmr.jpg");
}
.connect-background{
  background-image: url("https://wallpaperaccess.com/full/343619.jpg");
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 24px;
  color: white;
  font-weight: bold;
}

.header-left a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}



.header-right ul{
  padding: 0;
  margin:0;
  display: flex;
  list-style: none;
}

.header-right a{
  color: white;
  font-size: 24px;
  margin-right: 24px;
}

.hero{
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}
.hero li{
  list-style: none;
}

.hero a{
  text-decoration: none;
  font-size: 110px;
  font-weight: bold;
  transition: 0.3s all ease;
  color: white;
  font-family: 'Roboto', sans-serif;
  
}

.hero a:hover{
  color: skyblue;
}

